<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context  
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/data/mongo
           http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <context:annotation-config/>
    <!-- 获取配置文件属性 -->
    <bean id="placeholderConfig"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>/conf/db.properties</value>
        </property>
    </bean>

    <mongo:mongo-client id="mongo" replica-set="${mongo.replicaSet}" credentials="cqupt:cqupt@admin">
        <mongo:client-options
                connections-per-host="${mongo.connectionsPerHost}"
                threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"
                connect-timeout="${mongo.connectTimeout}"
                max-wait-time="${mongo.maxWaitTime}"
                socket-keep-alive="${mongo.socketKeepAlive}"
                socket-timeout="${mongo.socketTimeout}"/>
    </mongo:mongo-client>
    <!-- 设置使用的数据库 名-->
    <!--<mongo:db-factory dbname="test" mongo-ref="mongo"/>-->
    <!-- mongodb的模板 -->
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="databaseName" value="admin"/>
        <constructor-arg name="mongo" ref="mongo"/>
    </bean>


    <!--&lt;!&ndash; 配置MongoDB的用户及密码 &ndash;&gt;-->
    <!--<bean id="userCredentials" class="org.springframework.data.authentication.UserCredentials">-->
        <!--<constructor-arg name="username" value="cqupt"/>-->
        <!--<constructor-arg name="password" value="cqupt"/>-->
    <!--</bean>-->

    <!-- 设置Dao层所在的包 -->
    <context:component-scan base-package="win.star.business.dao.*"/>


</beans>